{{template "base" . }}

{{define "title"}}
    All Subscriptions
{{end}}

{{define "content"}}
    <h2 class="mt-5">All Subscriptions</h2>
    <hr>
    <table id="sales-table" class="table table-striped">
    <thead>
    <tr>
        <th>Transaction</th>
        <th>Customer</th>
        <th>Product</th>
        <th>Amount</th>
        <th>Status</th>
    </tr>
    <tbody>

    </tbody>
    </table>

    <nav>
        <ul id="paginator" class="pagination">

        </ul>
    </nav>
{{end}}

{{define "js"}}
<script>
    
let currentPage = 1;
let pageSize = 5;

function updatePagination(pageSize, currentPage) {
    let paginator = document.getElementById("paginator");
    let html = `<li class="page-item"><a class="page-link pager" href="#!" data-page="${currentPage - 1}">&lt;</a></li>`;

    for (let i = 0; i <= pageSize; i++) {
        html += `<li class="page-item"><a class="page-link pager" href="#!" data-page="${i + 1}">${i + 1}</a></li>`;
    }

    html += `<li class="page-item"><a class="page-link pager" href="#!" data-page="${currentPage + 1}">&gt;</a></li>`;

    paginator.innerHTML = html;

    let pagerLinks = document.getElementsByClassName("pager");
    for (let i = 0; i < pagerLinks.length; i++) {
        pagerLinks[i].addEventListener("click", function(event) {
            event.preventDefault();
            let desiredPage = event.target.getAttribute("data-page");
            if (desiredPage > 0 && desiredPage <= pageSize + 1) {
                updateTable(pageSize, desiredPage);
            }
        });
    }
}

document.addEventListener("DOMContentLoaded", function() {
    let token = localStorage.getItem("token");
    let tbody = document.getElementById('sales-table').getElementsByTagName('tbody')[0];

    const requestOptions = {
        method: 'post',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + token,
        },
    }

    fetch("{{.API}}/api/admin/all-subscriptions", requestOptions)
    .then(response => response.json())
    .then(function (data) {
        console.log(data);
        if (data.orders) {
            data.orders.forEach(function(i) {
                let newRow = tbody.insertRow();
                let newCell = newRow.insertCell();
                newCell.innerHTML = `<a href="/admin/subscriptions/${i.id}">Order ${i.id}</a>`;

                newCell = newRow.insertCell();
                let item = document.createTextNode(i.customer.first_name + " " + i.customer.last_name);
                newCell.appendChild(item);

                newCell = newRow.insertCell();
                item = document.createTextNode(i.widget.name);
                newCell.appendChild(item);
                
                let cur = formatCurrency(i.transaction.amount);
                newCell = newRow.insertCell();
                item = document.createTextNode(cur + "/month");
                newCell.appendChild(item);

                newCell = newRow.insertCell();
                if (i.status_id === 3) {
                    newCell.innerHTML = `<span class="badge bg-danger">Cancelled</span>`;
                } else {
                    newCell.innerHTML = `<span class="badge bg-success">Active</span>`;
                }
            })
        } else {
            let newRow = tbody.insertRow();
            let newCell = newRow.insertCell();
            newCell.setAttribute("colspan", "4");
            newCell.innerHTML = `No data available`;
        }
    })
})

function formatCurrency(amount) {
    let c = parseFloat(amount / 100);
    return c.toLocaleString("en-CA", {
        style: 'currency',
        currency: 'CAD',
    })
}
</script>
{{end}}