{{template "base" .}}

{{define "title"}}
    All Sales
{{end}}

{{define "content"}}
    <h2 class="mt-5">All Sales</h2>
    <hr>

    <table id="sales-table" class="table table-striped">
        <thead>
            <tr>
                <th>Transaction</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
{{end}}

{{define "js"}}
<script>
    let token = localStorage.getItem("token");
    let tbody = document.getElementById("sales-table").getElementsByTagName("tbody")[0];

    function formatCurrency(amount) {
        let c = parseFloat(amount/100);
        return c.toLocaleString('en-CA', {
            style: 'currency',
            currency: 'CAD',
        });
    }

    const requestOptions = {
        method: 'post',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + token,
        },
    }

    fetch("{{.API}}/api/admin/all-sales", requestOptions)
    .then(response => response.json())
    .then(function (salesData) {
        console.log(salesData);

        if (!salesData || salesData.length === 0) {
            let newRow = tbody.insertRow();
            let cell = newRow.insertCell();
            cell.colSpan = 4;
            cell.textContent = "No sales data available.";
            return;
        }

        salesData.forEach(function(sale) {
            let newRow = tbody.insertRow();
            
            // Transaction cell
            let transactionCell = newRow.insertCell();
            transactionCell.innerHTML = `<a href="/admin/sales/${sale.id}">Order ${sale.id}</a>`;

            // Customer cell
            let customerCell = newRow.insertCell();
            let customerName = document.createTextNode(sale.customer.first_name + " " + sale.customer.last_name);
            customerCell.appendChild(customerName);

            // Product cell
            let productCell = newRow.insertCell();
            let productName = document.createTextNode(sale.widget.name);
            productCell.appendChild(productName);

            // Amount cell
            sale.transaction.amount = formatCurrency(sale.transaction.amount);
            let amountCell = newRow.insertCell();
            let amountText = document.createTextNode(sale.transaction.amount);
            amountCell.appendChild(amountText);

            // Status cell
            let statusCell = newRow.insertCell();
            if (sale.status_id === 2) {
                statusCell.innerHTML = `<span class="badge bg-danger">Paid</span>`;
            } else {
                statusCell.innerHTML = `<span class="badge bg-success">Refunded</span>`;
            }
        })
    })
</script>
{{end}}